
:root {
    --card-width: 100mm;
    --card-height:148mm;
}

* {
    font-size:9pt;
}

.page{
    width: var(--card-width);
    height: var(--card-height);
}

@page {
    size: 100mm 148mm;
    margin: 0mm;
}

@media print{
    body{
        width: var(--card-width);
        margin:0px;
    }

    hr, .no-print{
        display: none;
    }
}

.table_qsoData td, .table_qsoData th{
    padding: 0mm 1mm;
    font-size: 8pt;
}
