
:root {
    --card-width: 100mm;
    --card-height:150mm;
}

* {
    font-size:9pt;
}

@page {
    size: 100mm 150mm;
    margin: 0mm;
}

@media print{
    body{
        width: var(--card-width) !important;
        margin:0px;
    }

    hr, .no-print{
        display: none;
    }
}

.table_qsoData td, .table_qsoData th{
    padding: 0mm 1mm;
    font-size: 8pt;
}
